/*Styles will be something of this nature:
 * Centered on-screen
 * Grey to light-grey background
 * Blue operator buttons
 * Purple equals button
 * An active class that changes button colored when highlighted
 * Circular buttons
 * A display that is read only
 */

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1000px;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.digit {
	border-radius: 100%;
	width: 25px;
	height: 25px;
}
