/*Styles will be something of this nature:
 * Centered on-screen
 * Grey to light-grey background
 * Blue operator buttons
 * Purple equals button
 * An active class that changes button colored when highlighted
 * Circular buttons
 * A display that is read only
 */

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html {
	font-family: 'Noto Sans', sans-serif;
	font-size: 10px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: azure;
}

body {
	height: 100vh;
	width: 50rem;
	font-size: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.calculator-body {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	width: 100%;
	height: 80%;
	background-color: lightgrey;
	border: 1px solid darkgrey;
	border-radius: 10px;
}

#display {
	height: 10%;
	border: 1px solid grey;
	border-radius: 5px;
	margin-bottom: 1rem;
}

.main-container {
	display: flex;
	width: 100%;
	height: 100%;
}

.main-btns {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.btn-row {
	display: flex;
	width: 100%;
	height: 20%;
}

.digit,
.operator {
	border-radius: 5px;
	width: 25%;
	
}

#all-clear,
#equal {
	border: 1px solid grey;
	border-radius: 5px;
	width: 50%;
	height: 100%;
}

#square,
#zero,
#point {
	width: 25%;
	height: 100%;
	border-radius: 5px;
}


